<template>
    <div>
        <!-- <ajax-intercept @start="start" @finish="finish" ></ajax-intercept>  -->
        <ajax-intercept @finish="finish" ></ajax-intercept> 
        <router-view></router-view>
    </div>
</template>

<script>
import ajaxIntercept from 'vue-ajax-intercept'
export default {
        
    methods: {
        // start(status){
            // console.log(status); //XMLHttpRequest object
        // },
        finish(status){
            const res = JSON.parse(status.response)
            if (typeof res.r != 'undefined' && res.r == false) {
                this.$router.push('/login')
            }
        }
    },
    components: { ajaxIntercept }
}
</script>

<style lang="less">
    @import "../../stylesheets/main.less";
</style>