<template> 
    <div>
        <div class="content">
            <vShopButton v-if="['shop','itemDetails'].indexOf($route.name) < 0"></vShopButton>
            <router-view></router-view>
        </div>
        <v-Footer v-if="['home'].indexOf($route.name) < 0"></v-Footer>
    </div>
</template>
<script>
    import vFooter from "./components/footer.vue";
    import vShopButton from './components/shop-button.vue';

    export default {
        components: {
            vFooter,
            vShopButton,
        },
    }
</script>
<style lang="less">
    @import "../../stylesheets/main.less";
    .content { min-height: calc(100vh - 100px); }
</style>
