<template>
    <div>
        <vNavigation></vNavigation>
        <div class="container-404">
            <div class="content-404">
                <header>
                    <p>404</p>
                    <p>Page not found</p>
                </header>
                <p class="idented">The page that you're looking for doesn't exist. Try go <router-link tag="span" to="/">Home</router-link> or to our <router-link tag="span" to="/shop">Store</router-link>.</p>
            </div>
        </div>    
    </div>
</template>
<script>
import vNavigation from "../components/navigation.vue";
export default {
    components: {
        vNavigation,
    }
}
</script>
<style lang="less">
    @import (reference) "../../../stylesheets/main.less";

    .container-404 {
        align-items: center;
        display: flex;
        height: calc(100vh - (80px + 100px));
        justify-content: center;

        .content-404 {
            header {
                @media (max-width: 399px) { margin-bottom: .5rem; }
                @media (min-width: 400px) { margin-bottom: 1rem; margin-top: -1rem; }
                @media (min-width: 992px) { margin-bottom: 2rem; margin-top: -3rem; }

                p:first-child {
                    color: @primary;
                    font-weight: 700;
                    text-align: center; 
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none; 
                    
                    @media (max-width: 399px) { font-size: 5rem; letter-spacing: 2rem; }
                    @media (min-width: 400px) { font-size: 5rem; letter-spacing: 2rem; }
                    @media (min-width: 992px) { font-size: 9rem; letter-spacing: 3rem; }
                }
                p:last-child {
                    font-size: 2rem;
                    letter-spacing: 9px;
                    margin-top: -1.5rem;
                    text-align: center;
                    text-transform: uppercase;

                    @media (max-width: 399px) { font-size: 1.5rem; letter-spacing: 3px; margin-top: -1rem; }
                    @media (min-width: 400px) { font-size: 1.8rem; letter-spacing: 3px; margin-top: -1rem; }
                    @media (min-width: 992px) { font-size: 2rem; letter-spacing: 9px; margin-top: -1.5rem; }
                }
            }

            p.idented {
                @media (max-width: 449px) { padding: 0 2rem; text-indent: 20px; text-align: justify;}
                @media (min-width: 450px) { padding: 0 3rem; text-indent: 20px; text-align: justify;}
                @media (min-width: 500px) { padding: 0 6rem; }
                @media (min-width: 850px) { text-align: center;}

                span {
                    color: @primary;
                    cursor: pointer; 
                    letter-spacing: 2px;
                    margin: 0 .05rem;
                    padding: .25rem;
                    text-decoration: none;
                    text-transform: uppercase;

                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    /* Propiedades para la animación de transition */
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease; 

                    &:hover {
                        background-color: @primary;
                        color: white !important;
                        font-weight: 700; 
                        letter-spacing: 3px;
                    }
                }
            }            
        }
    }
</style>


