<template>
    <div class="w-100 h-100">
        <section class="home-img w-100 section padding-x p-0i" id="home-img">
<!--            <img src="../../../multimedia/de111t_360.png" alt="Size guide photo" class="p-absolute banner-mobile"> -->
            <div class="w-100 text-center h-100 d-flex j-center bg-opacity-4">
                <div class="w-100 text-center">
                    <h1 class="fs-8vw fs-white text-center pb-1 main-title">DEEPER</h1>
                    <p class="fs-4vw fs-white text-center p-2 slogan-d">Colorful, cheerful and fun style.<br>Deeper Clothing adapts classic models to current trends, creating a sustainable fashion with high quality garments.</p>
                </div>
            </div>
        </section>
        <section class="home-slider section d-flex j-center" id="home-slider"> 
            <div class="d-flex w-100"> 
                <div class="container-slider w-100">
                    <div>
                        <div class="numbertext">{{slideIndex}} / {{slides.length}}</div>
                        <img v-mlens v-on:click="$router.push('/shop/'+selectedSlide.id_products_products_gallery)" @mouseover="stopSlide" @mouseout="startSlide" :src="selectedSlide.image_products_gallery" id="mlenss" class="cursor img-slider m-auto mlens_wrapper" :alt="selectedSlide.alt_products_gallery" :data-big="selectedSlide.image_hd_products_gallery" :data-big2x="selectedSlide.image_hd_products_gallery" >
                    </div>
                    <a class="prev" @click="plusSlides(-1)">❮</a>
                    <a class="next" @click="plusSlides(1)">❯</a>
                    <div class="caption-container d-flex j-center">
                        <p id="caption" v-on:click="$router.push('/shop/'+selectedSlide.id_products_products_gallery)" class="p-03">{{ selectedSlide.alt_products_gallery }}</p>
                    </div>
                </div> 
            </div> 
        </section>
        <section class="section">
            <div class="w-100 row pt-1 content">
                <div class="w-100 pt-1 row j-center ">
                    <span class="my-auto w-100 first-title fs-35 title-font text-center p-us">About Us</span>
                    <p class="text-nosotros text-center p-us pb-2 pt-2 w-100">
                    We care about the environment, which is why we create from recycle materials.<br>Deeper Clothing designs are so unique that you will doubt your very eyes.<br>
                    Our designs are inspired in classic models that we have transformed in current fashion.<br>We are committed to create sustainable fashion and high quality garments. That is a Deeper promise.</p>
                    <router-link tag="button" to="/nosotros" class="btn mb-1 fs-12 fw-600">READ MORE</router-link>
                </div> 
            </div> 
            <vFooter></vFooter>
        </section>
    </div> 
</template>

<style lang="less">
    @import (reference) "../../../stylesheets/main.less";

    .section-3 { position:relative; }
    .text-nosotros{
        .fs-15;
        @media screen and (max-width:750px){
            font-size:1.1rem !important;
        };
        @media screen and (min-width:751px) and (max-width:900px){
            font-size:1.3rem !important;
        }
    }
    #mlens_wrapper_0,.mlens_wrapper {
        display: flex;
        width: 100%;
    }

    .img-slider {
        height: 93vh;
        width: auto !important;
        max-width: 100% !important;
    }

    #home-img .fp-tableCell { height: 100% !important; }
 
    /* CODIGO DEL ZOOM EN PANTALLA COMPLETA */
    #imgzoom {
        cursor: pointer;
        transition: 0.3s;
    }

    #imgzoom:hover { opacity: 0.7; }

    /* The Modal (background) */
    .modal {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        display: none; /* Hidden by default */
        height: 100%; /* Full height */
        left: 0;
        overflow: auto; /* Enable scroll if needed */
        padding-top: 100px; /* Location of the box */
        position: fixed; /* Stay in place */
        top: 0;
        width: 100%; /* Full width */
        z-index: 1; /* Sit on top */
    }

    /* Modal Content (image) */
    .modal-content {
        display: block;
        margin: auto;
        max-width: 700px;
        width: 80%;
    }

    /* Caption of Modal Image */
    #caption{
        color:white !important;
        letter-spacing: 2px;
        text-transform:uppercase;
    }
    #caption-zoom {
        color: #ccc;
        display: block;
        height: 150px;
        margin: auto;
        max-width: 700px;
        padding: 10px 0;
        text-align: center;
        width: 80%;
    }

    /* Add Animation */
    .modal-content, #caption-zoom {    
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from { -webkit-transform: scale(0); } 
        to { -webkit-transform: scale(1); }
    }

    @keyframes zoom {
        from { transform: scale(0); } 
        to { transform: scale(1); }
    }

    /* The Close Button */
    .close {
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        position: absolute;
        right: 35px;
        top: 15px;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        cursor: pointer;
        text-decoration: none;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content { width: 100%; }
    }
    
    #mlens_wrapper_0{
        display: flex;
        width: 100% !important;
    }
    .banner-mobile{
        @media screen and (min-width:580px){
            display:none;
        }
    }
    /* CODIGO CSS DE SECCIONES */
    .home-img {
        @media screen and (min-width:580px){
        -webkit-background-image: url('../../../multimedia/slides/de111t.png');
        -moz-background-image: url('../../../multimedia/slides/de111t.png');
        -ms-background-image: url('../../../multimedia/slides/de111t.png');
        -o-background-image: url('../../../multimedia/slides/de111t.png');
        background-image: url('../../../multimedia/slides/de111t.png');
        background-attachment: fixed;
        }
        @media screen and (max-width:579px){
        -webkit-background-image: url('../../../multimedia/de111t_360.png');
        -moz-background-image: url('../../../multimedia/de111t_360.png');
        -ms-background-image: url('../../../multimedia/de111t_360.png');
        -o-background-image: url('../../../multimedia/de111t_360.png');
        background-image: url('../../../multimedia/de111t_360.png');
        }
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-position:top right;
        -moz-background-position:top right;
        -ms-background-position:top right;
        -o-background-position:top right;
        background-position:top right;
        background-position-x:100%;
        background-position-y:0%;
        }
    
    @media screen and (max-width: 700px) {
        .padding-x2 {
            padding-left: 0vw !important;
            padding-right: 0vw !important;
        }
    }

    @media screen and (min-width: 701px) {
        .padding-x2 {
            padding-left: 15vw !important;
            padding-right: 15vw !important;
        }
    }

    .padding-x {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .p-us {
        padding-left: 10vw !important;
        padding-right: 10vw !important;
    }

    /* CODIGO CSS DEL SLIDER */
    .home-slider {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    img { vertical-align: middle; }

    .container-slider { position: relative; }

    .mySlides { display: none; }

    .cursor { cursor: pointer; }

    .prev,
    .next {
        border-radius: 0 3px 3px 0;
        color: white;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        margin-top: -50px;
        padding: 16px;
        position: absolute;
        top: 40%;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
    }

    .next {
        border-radius: 3px 0 0 3px;
        right: 0;
    }

    .prev:hover,
    .next:hover { background-color: rgba(0, 0, 0, 0.8); }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        background-color: @primary;
        color: white;
        text-align: center;
        height:7vh;
    }

    .row:after {
        content: "";
        clear: both;
        display: table;
    }

    .column {
        float: left;
        width: 16.66%;
    }

    .demo { opacity: 0.6; }

    .active-hp,
    .demo:hover { opacity: 1; }
    
    .main-title {
        letter-spacing: 2.6vw;
        @media screen and (max-width: 450px) { font-size: 17vw !important; }
        @media screen and (min-width: 451px) { font-size: 15vw !important; }
        @media screen and (min-width: 650px) { font-size: 9.1vw !important; }
        @media screen and (min-width: 750px) { font-size: 7.6vw !important; }
        @media screen and (min-width: 1000px) { font-size: 6vw !important; }
    }
    .slogan-d{
        font-size:1.25rem;
        @media screen and (min-width:850px){
            font-size:1.5rem !important;
        }
        @media screen and (min-width:1300px){
            font-size:1.7rem !important;
        }
    }
</style>
<script>
    import vFooter from "../components/footer.vue";

    export default {
        name:'inicio',
        data () {
            return {
                slideIndex: 1,
                slides: [],
                selectedSlide: {},
                times: 0,
                autoSlide: null,
            }
        },
        methods:{
            currentSlide(n) {
                this.showSlides(n || 1);
            },
            plusSlides(n) {
                this.showSlides(this.slideIndex += n);
            },
            showSlides(n) {
                this.slideIndex = n;
                if (n > this.slides.length) {this.slideIndex = 1}
                if (n < 1) {this.slideIndex = this.slides.length}
                this.selectedSlide = this.slides[this.slideIndex-1];
            },
            startSlide() {
                const self = this;
                self.autoSlide = setInterval(function () { self.plusSlides(1); }, 4000);
            },
            stopSlide() {
                clearInterval(this.autoSlide);
            },
        },
        destroyed(){
            window.$.scrollify.destroy();
            this.stopSlide();
        },
        mounted() {
            const self = this;
            $.ajax({
                url:"./api.php?e=home&r=/&id=1",
                method: "GET",
                dataType: "json",
            })
            .done(function (result) {
                self.slides = result.load;
                self.showSlides(1);
                window.$.scrollify({
                    section : ".section",
                    updateHash: false,
                    interstitialSection: "footer",
                    standardScrollElements: ".stdScroll",
                });
                self.startSlide();
            })
            .fail(function (error) {
                self.error = error.status + ' '+error.statusText;
            });
        },
        components: {
            vFooter,
        },
        directives: {
            mlens: {
                update: function (el, binding, vnode) {
                    const isTouch = (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0))
                    // console.log(isTouch);
                    // console.log($( window ).width(), "win");
                    // console.log($( document ).width(), "doc");
                    // console.log( $( document ).width() >= 1000 && !isTouch ," sec");
                    if ( $( document ).width() >= 1000 && !isTouch ) {
                        if (vnode.context.times > 0){
                            // console.log("otra vez")
                            window.$("#mlenss").mlens('destroy');
                        }
                        else {
                            // console.log("primera vez")
                            vnode.context.times+=1;
                        }
                        window.$("#mlenss").mlens({
                            // gets image files
                            imgSrc: el.dataset.big, 
                            imgSrc2x: el.dataset.big2x,
                            // shape of the lens (circle/square)
                            lensShape: "square",
                            // size of the lens
                            lensSize: ["50%","50%"],
                            // size of the lens border (in px)
                            borderSize: 4,
                            // color of the lens border (#hex)
                            borderColor: "#fff",
                            // border radius (optional, only if the shape is square)
                            borderRadius: 0,
                            // imgOverlay: el.dataset.overlay,
                            // true if the overlay image has to adapt to the lens size (true/false)
                            // overlayAdapt: true,
                            // zoom level
                            zoomLevel: 2, 
                            // is responsive
                            responsive: true
                        });
                        window.$("#mlens_target_0").on({
                            mouseenter: function () {
                                // console.log("stop?")
                                vnode.context.stopSlide()
                            },
                            mouseleave: function () {
                                // console.log("start?")
                                vnode.context.startSlide()
                            },
                        });
                        window.$("#mlenss").on({
                            touchstart: function () {
                                // console.log("touched?")
                                vnode.context.stopSlide()
                            },
                            touchmove: function () {
                                // console.log("move?")
                                vnode.context.stopSlide()
                            },
                            touchend: function () {
                                // console.log("end?")
                                vnode.context.startSlide()
                            },
                        })
                    }
                },
            },
        },
    }
</script>