<template>
    <div class="bg-gray w-100">
        <div class="login-container">
            <header class="bg-red-login mb-1">
                <p class="text-center fs-white login-title title-s p-2vw">DEEPER LOGIN</p>
            </header>
            
            <div v-if="error" class="alert error">
                <span v-if="error">{{ error }}</span>
            </div>

            <form @submit.prevent="login" method="POST">
                <div class="p-15">
                    <i class="fas fa-user fs-13 pr-15vw"></i>
                    <input v-model="user" type="email" placeholder="Username" class="i-border-0 i-left input-l h-40px fs-13 pt-1 mb-03" required>
                    <hr noshade="noshade" size="2" class="hr-l">  
                    <i class="fas fa-lock fs-13 pr-15vw"></i>
                    <input v-model="pass" type="password" placeholder="Password" class="i-border-0 i-left input-l h-40px fs-13 pt-1 mb-03" required>
                </div>
                <div class="ribbon-wrapper">
                    <div class="glow">&nbsp;</div>
                    <button type="submit" class="ribbon-front w-120 text-center fs-white bg-red-login title-s fs-15 border-0 p-05">LOGIN</button>
                    <div class="d-flex p-absolute ribbon-bl-left">
                        <div class="ribbon-bottomleft-deeper w-100 h-100"></div>
                    </div>
                    <div class="d-flex p-absolute ribbon-bl-right">
                        <div class="ribbon-bottomright-deeper"></div>
                    </div>
                </div>                 
                <p class="px-2vw py-3vh text-center">
                    <!--    Comentada línea para la recuperación de la contraseña
                    Did you forget your password? <a>Click here</a>
                    -->
                </p>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    data () {
        return {
            user: '',
            pass: '',
            error:'',
        }
    },
    methods: {
        login () {
            const self = this;
            self.error = '';
            $.ajax({
                url:"../api.php?e=login&r=/",
                method: "POST",
                dataType: "json",
                data: {user: self.user, pass: self.pass,}
            })
            .done(function (result) {
                if (result.r) {
                    self.$router.push('/')
                } else {
                    self.error = result.e;
                }
            })
            .fail(function (error) {
                self.error = error.status + ' '+error.statusText;
            });
        },
    },
}
</script>

<style lang="less">
div.bg-gray.w-100 {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .login-container {
        background-color: white;

        @media screen and (max-width: 599px) { width: 70%; }
        @media screen and (min-width: 600px) and (max-width: 649px) { width: 60%; }
        @media screen and (min-width: 650px) and (max-width: 849px) { width: 53%; }
        @media screen and (min-width: 850px) and (max-width: 999px) { width: 45%; }
        @media screen and (min-width: 1000px) and (max-width: 1299px) { width: 40%; }
        @media screen and (min-width: 1300px) and (max-width: 1699px) { width: 35%; }
        @media screen and (min-width: 1700px) { width: 26%; }
    }
}

.hr-l{color:rgba(0,0,0,0.1);margin:0.25rem;}

@media screen and (max-width:600px){
    .ribbon-bottomleft-deeper{
        border-top:7vw;
        border-top-color:#9B1724 !important;
        border-left:7vw;
        border-left-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-right:0px transparent;
        border-style:solid;
    }
    .ribbon-bottomright-deeper{
        border-top:7vw;
        border-top-color:#9B1724 !important;
        border-right:7vw;
        border-right-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-left:0px transparent;
        border-style:solid;
    }

}
@media screen and (min-width:601px) and (max-width:649px){
    .ribbon-bottomleft-deeper{
        border-top:6vw;
        border-top-color:#9B1724 !important;
        border-left:6vw;
        border-left-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-right:0px transparent;
        border-style:solid;
    }
    .ribbon-bottomright-deeper{
        border-top:6vw;
        border-top-color:#9B1724 !important;
        border-right:6vw;
        border-right-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-left:0px transparent;
        border-style:solid;
    }
}
@media screen and (min-width:650px) and (max-width:849px){
    .ribbon-bottomleft-deeper{
        border-top:5vw;
        border-top-color:#9B1724 !important;
        border-left:5vw;
        border-left-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-right:0px transparent;
        border-style:solid;
    }
    .ribbon-bottomright-deeper{
        border-top:5vw;
        border-top-color:#9B1724 !important;
        border-right:5vw;
        border-right-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-left:0px transparent;
        border-style:solid;
}

}
@media screen and (min-width:850px) and (max-width:999px){
    .ribbon-bottomleft-deeper{
        border-top:4.5vw;
        border-top-color:#9B1724 !important;
        border-left:4.5vw;
        border-left-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-right:0px transparent;
        border-style:solid;
    }
    .ribbon-bottomright-deeper{
        border-top:4.5vw;
        border-top-color:#9B1724 !important;
        border-right:4.5vw;
        border-right-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-left:0px transparent;
        border-style:solid;
    }

}

@media screen and (min-width:1000px) and (max-width:1299px){
    .ribbon-bottomleft-deeper{
        border-top:4vw;
        border-top-color:#9B1724 !important;
        border-left:4vw;
        border-left-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-right:0px transparent;
        border-style:solid;
    }
    .ribbon-bottomright-deeper{
        border-top:4vw;
        border-top-color:#9B1724 !important;
        border-right:4vw;
        border-right-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-left:0px transparent;
        border-style:solid;
    }
}
@media screen and (min-width:1300px) and (max-width:1699px){
    .ribbon-bottomleft-deeper{
        border-top:3.5vw;
        border-top-color:#9B1724 !important;
        border-left:3.5vw;
        border-left-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-right:0px transparent;
        border-style:solid;
    }
    .ribbon-bottomright-deeper{
        border-top:3.5vw;
        border-top-color:#9B1724 !important;
        border-right:3.5vw;
        border-right-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-left:0px transparent;
        border-style:solid;
    }

}
@media screen and (min-width:1700px){
    .ribbon-bottomleft-deeper{
        border-top:2.6vw;
        border-top-color:#9B1724 !important;
        border-left:2.6vw;
        border-left-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-right:0px transparent;
        border-style:solid;
    }
    .ribbon-bottomright-deeper{
        border-top:2.6vw;
        border-top-color:#9B1724 !important;
        border-right:2.6vw;
        border-right-color:transparent !important;
        border-bottom:1vw;
        border-bottom-color:transparent;
        border-left:0px transparent;
        border-style:solid;
    }

}

.title-s{letter-spacing: 5px;}
.login-title{
    font-size:2.3rem;
    @media screen and (max-width:500px){
        font-size:1.7rem !important;
        padding:4vw !important
    } 
}
.input-l{
    width:85%;
    @media screen and (max-width:380px){
        width:65% !important;
    }
}
.bg-red-login{background-color:#cc3333;}
.w-100{width:100%;}
.h-40px{height:40px;}
.h-100vh{height:100vh;}
.bg-gray{background-color:rgb(199,191,191)}
.m-auto{margin:auto;}
.bg-white{background-color:white;}

.ribbon-bl-left{
    left:-10%;
    z-index:1;
    height:100%;
    top:94%;
    width:10%;
}

.ribbon-bl-right{
    right:-10%;
    z-index:1;
    height:100%;
    top:94%;
    width:10%;
}

.ribbon-wrapper { position: relative;z-index:998; }

.ribbon-front {
	background-color: #cc3333;
	width: 240px;
	position: relative;
	left:-10%;
	z-index: 2; font:20px/50px bold Verdana, Geneva, sans-serif; color:#f8f8f8; text-align:center;text-shadow: 0px 1px 2px #cc6666;
}
.ribbon-front,
.ribbon-back-left,
.ribbon-back-right {
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright { top: 50px; }

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
	border-color: transparent #9B1724 transparent transparent;
	left: -10px;
}

.ribbon-edge-topleft {
	border-width: 5px 10px 0 0;
	top: -5px;
}

.ribbon-edge-bottomleft { border-width: 0 10px 0px 0; }
.ribbon-edge-topright,
.ribbon-edge-bottomright {
	border-color: transparent transparent transparent #9B1724;
	left: 220px;
}

.ribbon-edge-topright {
	border-width: 0px 0 0 10px;
	top: 0px;
}

.ribbon-edge-bottomright { border-width: 0 0 5px 10px; }

@-webkit-keyframes flow {
	0% { left:-10%;opacity: 0;}
	50% {left:50%;opacity: 0.3;}
    100%{ left:110%;opacity: 0;}
}
@keyframes flow {
	0% { left:-10%;opacity: 0;}
	50% {left:50%;opacity: 0.3;}
    100%{ left:110%;opacity: 0;}
}

.glow { 
    -webkit-animation: flow 8s linear infinite;
    -moz-animation: flow 8s linear infinite;
    -ms-animation: flow 8s linear infinite;
    -o-animation: flow 8s linear infinite;
    animation: flow 8s linear infinite;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C */
    border-left:1px solid #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ 
    height:100%; 
    position:absolute;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    z-index:999; 
    width:40px; 
}
</style>

