<template>
    <div class="orders">
        <navbaradmin></navbaradmin>
        <div class="orders-container">
            <header>Orders</header>
            <div class="orders-information">
                <div class="refresh-side">
                    <button @click="readOrders()" title="Update orders"><i class="fas fa-redo giro"></i></button>
                    <p>Updated: {{ lastRefresh }}</p>
                </div>
                <!--
                <div class="export-list">
                    <select name="export">
                        <option value="csv">Formato CSV</option>
                        <option value="xls">Formto XLS</option>
                    </select>
                    <button type="button" class="btn btn-red">EXPORT</button>
                </div>
                -->
            </div>
            <transition-group name="slide-fade">
                <div class="mb-02" v-for="order in orders" :key="order.id_orders">
                    <vOrder :order="order"></vOrder>
                </div>
            </transition-group>
        </div>
    </div>
</template>
<script>
    import navbaradmin from "../components/navbar-admin.vue";
    import vOrder from "../components/order.vue";
    export default {
        data () {
            return {
                orders:[],
                lastRefresh:'',
            }
        },
        methods: {
            readOrders (){
                const self = this;
                this.refreshDate();
                $.ajax({
                    url:"../api.php?e=orders&r=/",
                    method: "GET",
                    dataType: "json",
                })
                .done(function (result) {
                    self.orders = result.load;
                })
                .fail(function (error) {
                    self.error = error.status + ' '+error.statusText;
                });
            },
            refreshDate(){
                var fecha = new Date();
                const self = this;
                this.lastRefresh = fecha.getDate()+'-'+(fecha.getMonth()+1)+'-'+fecha.getFullYear()+' '+fecha.getHours()+':'+fecha.getMinutes()+':'+fecha.getSeconds();
            },
        },
        mounted: function(){
            const self = this;
            this.readOrders();
        },
        components: {
            navbaradmin,
            vOrder,
        },
    }
</script>
<style lang="less">
@import (reference) "../../../stylesheets/main.less";

/*-------------------------------
    Animación del botón refresh
-------------------------------*/
.giro:hover,
button:hover i.giro {
  -webkit-animation: giro .7s ease 0s 1 normal;
  -moz-animation: giro .7s ease 0s 1 normal;
  -ms-animation: giro .7s ease 0s 1 normal;
  -o-animation: giro .7s ease 0s 1 normal;
  animation: giro .7s ease 0s 1 normal;
}

@-webkit-keyframes giro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-moz-keyframes giro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-ms-keyframes giro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-o-keyframes giro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes giro {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*-------------------------
    Estilos de las Orders
-------------------------*/
.orders {
    .orders-container {
        margin: 1rem auto;
        padding: 2rem 0;
        width: 80%;

        & > header {
            color: rgba(0, 0, 0, 0.8);
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
            text-align:center;
            text-transform: uppercase;

            &:hover { cursor: default; }
        }

        .orders-information {
            @media (max-width: 767px) { display: block; margin-bottom: 1.5rem; }
            @media (min-width: 768px) { 
                display: flex; 
                justify-content: space-between; 
                margin-bottom: 1.5rem;
            }
    
            .refresh-side {
                align-items: center;
                display: flex;
    
                @media (max-width: 767px) { display: flex; justify-content: center; }
            }
    
            .export-list {
                display: flex;
        
                @media (max-width: 767px) {
                    justify-content: center; 
                    margin-top: .5rem; 
                }
        
                @media (min-width: 768px) { justify-content: flex-end; }
        
                select { padding: .15rem .5rem; }
                button.btn.btn-red { margin: 0 0 0 1rem; }
            }
        }
    }
}

/*-----------------
    Otros estilos
-----------------*/
.slide-fade-enter-active { transition: all .3s ease; }
.slide-fade-leave-active { transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); }
.slide-fade-enter, .slide-fade-leave-to { transform: translateX(50%); opacity: 0; }
</style>