<template>
    <div class="w-100">
        <navbaradmin></navbaradmin>
        <div class="w-80 pt-3 m-auto">
            <p class="text-center title-font fs-25 mb-2">Products</p>
            <form class="w-100">
                <table class="table-responsive w-100 mb-2"> 
                    <thead class="bg-red">
                        <th class="fs-white fs-15 text-center p-04" scope="col">Name</th>
                        <th class="fs-white fs-15 text-center p-04" scope="col">Price</th>
                        <th class="fs-white fs-15 text-center p-04" scope="col">Enabled</th>
                        <th class="fs-white fs-15 text-center p-04" scope="col">Total Inventory</th>
                    </thead>
                    <tr v-for="product in products" :key="product.id_products" class="fs-2 text-center">
                        <td class="p-05" data-label="Name">{{ product.name_products }}</td>
                        <td class="p-05" data-label="Price">${{ product.price_products }}</td>
                        <td class="p-05" data-label="Enabled">
                            <label class="switch">
                                <input @change="changeStatus(product)" :checked="(product.disabled_products>0) ? false : true" type="checkbox">
                                    <span class="slider round"></span>
                            </label>
                        </td>
                        <td class="p-05 tabla-doble" data-label="Total Inventory">{{ product.quantity }}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</template>
<script>
import navbaradmin from "../components/navbar-admin.vue";
export default {
    data () {
        return {
            products:[],
        }
    },
    components: {
        navbaradmin,
    },
    methods: {
        changeStatus (product) {
            const self = this;
            if (product.disabled_products == 0) {
                product.disabled = 1;
            }
            if (product.disabled_products == 1) {
                product.disabled = 0;
            }
            $.ajax({
                url:"../api.php?e=products&r=:id&id="+product.id_products,
                method: "PUT",
                dataType: "json",
                data: {disabled: product.disabled},
                success: function (result) {
                    self.products.map(function (e) {
                        if (e.id_products == product.id_products) {
                            e.disabled_products = product.disabled;
                        }
                    })
                    self.products = [].concat(self.products);
                }
            });
        },
    },
    mounted: function (){
        const self = this;
        $.ajax({
            url:"../api.php?e=products&r=/all",
            method: "GET",
            dataType: "json",
        })
        .done(function (result) {
            self.products = result.load;
        })
        .fail(function (error) {
            self.error = error.status + ' '+error.statusText;
        });
    },
}
</script>
<style lang="less">
@import (reference) "../../../stylesheets/main.less";
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: @primary;
}
input:focus + .slider {
  box-shadow: 0 0 1px @primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>