<template>
    <div class="w-100">
    <navbaradmin></navbaradmin>
        <div class="w-80 m-auto  pt-3">
            <p class="text-center fs-25 mb-2 title-font">Subscribers</p>
            <form class="w-100">
                <div class="row container-export f-right d-flex">
                    <div class="export-elements d-flex j-center m-auto">
                        <select name="export" class="w-100 p-05">
                            <option value="csv">CSV format</option>
                        </select>
                    </div>
                    <div class="export-elements d-flex j-center m-auto">
                        <button @click="downloadCSV" type="button" class="btn w-100 btn-red p-2">EXPORT</button>
                    </div>
                </div>
                <table class="table-responsive w-100 mb-2">
                    <thead class="bg-red">
                        <tr class="title-table-planes">
                            <th class="fs-white fs-15 text-center p-04" scope="col">Full Name</th>
                            <th class="fs-white fs-15 text-center p-04" scope="col">Email</th>
                            <th class="fs-white fs-15 text-center p-04" scope="col">Phone</th>
                        </tr>
                    </thead>   
                    <tr v-for="subscriber in subscribers" :key="subscriber.id_persons"  class="fs-2 text-center">
                        <td class="p-05 tabla-doble" data-label="FULL NAME">{{subscriber.name_persons}} {{subscriber.last_persons}}</td>
                        <td class="p-05" data-label="EMAIL">{{subscriber.email_persons}}</td>
                        <td class="p-05 mh-30" data-label="PHONE">{{subscriber.phone_persons}}</td>
                    </tr> 
                </table> 
            </form>
        </div>
    </div>
</template>
<script>
import navbaradmin from "../components/navbar-admin.vue";
export default {
    data () {
        return {
            subscribers:[],
        }
    },
    components: {
        navbaradmin,
    },
    methods: {
        convertToCSV (objArray) {
            let array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
            let csv = Object.keys(array[0]).join(',').split('_persons').join('');
            csv += '\r\n';
            let line;
            array.forEach(element => {
                line = '';
                for (let index in element) {
                    if (line != '') line += ','
                    line += element[index];
                }
                csv += line+'\r\n';
            });
            return csv;
        },
        downloadCSV () {
            const jsonObject = JSON.stringify(this.subscribers);
            let hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(this.convertToCSV(jsonObject));
            hiddenElement.target = '_blank';
            hiddenElement.download = 'subscribers.csv';
            document.body.appendChild(hiddenElement);
            hiddenElement.click();
            document.body.removeChild(hiddenElement);
        },
    },
    mounted: function (){
        const self = this;
        $.ajax({
            url:"../api.php?e=subscribers&r=/",
            method: "GET",
            dataType: "json",
        })
        .done(function (result) {
            self.subscribers = result.load;
        })
        .fail(function (error) {
            self.error = error.status + ' '+error.statusText;
        });
    },
}
</script>
<style lang="less">
    .container-export{
        @media screen and (max-width:799px){
            width:100%
        }
        @media screen and (min-width:800px){
            width:50%;
        }
        @media screen and (min-width:1500px){
            width:35%;
        }
    }
    .export-elements{
        width:100%;
        @media screen and (min-width:400px){
            width:47% !important
        }
    }
</style>