<template>
    <footer>
        <section class="menu-info">
            <!-- Menú -->
            <div class="footer-nav">
                <router-link tag="a" to="/" class="icon-footer">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </router-link>
                <router-link tag="a" to="/shop" class="icon-footer">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Store</span>
                </router-link>
                <router-link tag="a" to="/contact-us" class="icon-footer">
                    <i class="fas fa-phone"></i>
                    <span>Contact us</span>
                </router-link>   
                <a href="https://www.facebook.com/DeeperMiami" target="_blank" class="icon-footer red-social fb">
                    <div class="bg">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <span>Facebook</span>
                </a>
                <a href="https://www.instagram.com/deeper_clothing" target="_blank" class="icon-footer red-social ig">
                    <div class="bg">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <span>Instagram</span>
                </a>
            </div>
            <!-- Company information -->
            <div>
                <router-link tag="a" to="/" class="main-text small">DEEPER</router-link>
                © Copyright 2018. All rights reserved
            </div>                                
        </section>
    </footer>
</template>
<script>
    export default {
        name:'vFooter',
        data () {
            return {

            }
        },
        methods:{
        },            
    }
</script>

<style lang="less">
    @import (reference) "../../../stylesheets/main.less";
    section.menu-info {
        border-top: 2px solid @primary;
        margin: 1rem 1rem 0 1rem;

        @media (max-width: 729.98px) {
            display: block;
            justify-content: center;
            padding: 1.8rem 1rem 1rem 1rem;
            text-align: center;
        }

        @media (min-width: 730px) {
            display: flex;
            justify-content: space-between;
            padding: 1.8rem 1rem;
        }        

        div.footer-nav {
            display: flex;
            justify-content: center;

            @media (max-width: 729.98px) { margin-bottom: 0.5rem; }            

            a.icon-footer {
                height: 24px;
                text-decoration: none;
                width: 50px;

                &:link,
                &:visited,
                &:active { color: rgba(0, 0, 0, 0.8); }

                & > i { 
                    font-size: 1.3rem; 

                    /* Propiedades para la animación de transition */
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;                
                }

                & > span {
                    background: @primary;
                    border-radius: 2px;
                    color: white;
                    font-size: .7rem;
                    margin-bottom: .2rem;
                    padding: .2rem .4rem;
                    position: relative;
                    text-transform: uppercase;
                    top: -53px;
                    visibility: hidden;
                    white-space: nowrap;
                }

                &.red-social {
                    align-items: center;
                    display: flex;

                    /* Propiedades para la animación de transition */
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    & > .bg {
                        background-color: transparent;

                        /* Propiedades para la animación de transition */
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;

                        & > i {
                            font-size: 1.8rem;
                            /* Propiedades para la animación de transition */
                            -webkit-transition: all 0.3s ease;
                            -moz-transition: all 0.3s ease;
                            -o-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                        }
                    }

                    &.fb {
                        margin-right: 30px;
                        width: 20px;                        

                        & .bg > i { color: #3b5998;  }
                    }

                    &.ig .bg i { color: #d42572; }
                }

                &:hover {
                    & > span { visibility: visible; }
                    & > i { color: @primary; }
                    &.red-social {
                        span { background-color: transparent; font-weight: 700; }
                        
                        &.fb {
                            & > .bg {
                                background-color: #3b5998;
                                border-radius: 2px;
                                margin-top: -0.4rem;
                                padding: .4rem .3rem 0 0.9rem;

                                & > i { color: #fff; }
                            }

                            & span { color: #3b5998; left: -41px; top: -29px; }
                        }

                        &.ig {
                            & > .bg {
                                background-color: #d42572;
                                background-image: linear-gradient(190deg, #5442d4, #8b34b9, #d42572, #f02040, #f22d3e, #fec053);
                                border-radius: 10px;
                                margin-bottom: -0.1rem;
                                margin-top: -0.12rem;
                                padding: 0.12rem 0.25rem 0.1rem;

                                & > i { color: #fff; }
                            }

                            & span { color: #d42572; left: -38px; top: -27px; }
                        }
                    }
                }
            }
        }
    }

    .main-text {
        color: @primary;
        font-weight: 700;
        text-decoration: none;
        
        /* Propiedades para la animación de transition */
        -webkit-transition: letter-spacing 0.5s ease;
        -moz-transition: letter-spacing 0.5s ease;
        -o-transition: letter-spacing 0.5s ease;
        transition: letter-spacing 0.5s ease;

        &:link,
        &:visited,
        &:active { color: @primary; }

        &:hover { color: darken(@primary, 5%); }

        &.logo {
            cursor: pointer;
            font-family: 'Arial', sans-serif;
            font-size: 2.2rem;
            font-weight: 400;
            letter-spacing: 7px;
            text-transform: uppercase;

            &:hover { color: @primary; }
            @media (max-width: 399px) { font-size: 2rem; letter-spacing: 2px; }
            @media (min-width: 400px) and (max-width: 767px) { font-size: 2.5rem; letter-spacing: 4px; }
        }

        &.small {
            font-size: 1.1rem;
            letter-spacing: 6px;

            &:hover { letter-spacing: 8px; }
        }
    }
</style>