<template>
    <transition name="fade">
        <vGuide v-if="showSizeGuide" @close="showSizeGuide = !showSizeGuide"></vGuide>
        <div id="item-details" class="modal-background" v-on:click="$router.push('/shop/')">
            <div class="modal-container" @click.stop>
                <div class="main-article">
                    <button class="btn-close" v-on:click="$router.push('/shop/')"><i class="fas fa-times"></i></button>
                    <header>
                        {{details.name_products}}
                    </header>
                    <div class="slider-details">
                        <div class="slideshow-container">
                            <div class="container-slider j-center">
                                <div class="numbertext">{{slideIndex}} / {{slides.length}}</div>
                                <div class="d-flex w-100">
                                    <img v-mlens id="mlenss" :src="selectedSlide.image_products_images" class="h-60vh img-itemd m-auto  mlens_wrapper" :alt="selectedSlide.alt_products_images" :data-big="selectedSlide.image_hd_products_images" :data-big2x="selectedSlide.image_hd_products_images">
                                </div>
                            </div>
                            <a class="prev" @click="plusSlides(-1)">&#10094;</a>
                            <a class="next" @click="plusSlides(1)">&#10095;</a>
                        </div>
                        <br>
                        <div style="text-align:center">
                            <span v-for="(image, i) in slides" :key="image.id" v-bind:class="[slideIndex == i+1 ? 'active-dot' : '', 'dot']" @click="currentSlide(i+1)"></span>
                        </div> 
                    </div>
                    <div class="w-100 mt-1 mb-2">
                        <p class="text-justify">{{details.description_products}}</p>
                    </div>
                    <form action="#" method="POST">
                        <div class="d-media-flex items">
                            <div class="information item text-center">
                                <header>Price</header>
                                <div>$ {{price}}</div>
                            </div>
                            <div v-for="attr in variants.attributes" :key="attr.id" class="information item text-center">
                                <header>{{attr.name}}</header>
                                <div>
                                    <select v-on:change="filterVariation" :name="'attr-'+attr.id" :id="attr.name+'-selector'">
                                        <option value="">Select {{attr.name}}</option>
                                        <option v-for="option in filterAttributes(attr.id)" :key="option.id_av" :value="option.id_av">{{option.value}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="information item text-center">
                                <header>Quantity</header>
                                <div>
                                    <div class="tooltip"> 
                                        <span v-if="quantity === selectedVariant.quantity_products_variants" class="tooltiptext">Only {{selectedVariant.quantity_products_variants}} in stock</span>
                                        <input @input="validateMaxQuantity" @blur="validateMinQuantity" v-model="quantity" type="number" min="1" :max="selectedVariant.quantity_products_variants" step="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-flex-around">
                            <div class="link-bg-red">
                                <a href="#" @click="showSizeGuide = !showSizeGuide">Size guide</a>
                            </div>
                            <transition name="slide-fade">
                                <div v-bind:class="[isAdded ? '' : 'd-none', 'title-font']">
                                    <i class="fas fa-check"></i> Added!
                                </div>
                            </transition>
                            <div class="tooltip">
                                <span v-if="selectedVariant == 0" class="tooltiptext">Select your size</span>
                                <button :disabled="selectedVariant == 0" @click="addOrderItem()" type="button" id="cartb" class="btn-red button-cart m-0">Add to cart</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </transition>
</template>
<script>
    import vGuide from "../components/size-guide.vue";
    export default {
        components: {
            vGuide,
        },
        data (){
            return {
                showSizeGuide: false,
                variants: [],
                details:{},
                selectedVariant: '',
                slides: [],
                selectedSlide: {},
                error: '',
                slideIndex: 1,
                order: {items: [],},
                isAdded: false,
                attributes_values: [],
                activeFilters: {},
                quantity: 1,
                price: 0,
                times: 0,
            }
        },

        methods: {
            filterAttributes(id_attr) {
                return this.attributes_values.filter((item) => {
                    return item.id == id_attr;
                }); 
            },
            filterVariation (e){
                Array.prototype.diff = function(a) {
                    return this.filter(function(i) {return a.indexOf(i) < 0;});
                };
                this.activeFilters[e.currentTarget.name] = e.currentTarget.value;
                let filters_id=[];
                let parse = JSON.parse(JSON.stringify(this.activeFilters));
                Object.keys(parse).forEach(function(key) {
                    filters_id.push(parse[key])
                });

                function searchVariant(e) {
                    let attr_in_v = e.attrs.map((a)=>{return a.id_av})
                    let retorna = filters_id.diff(attr_in_v).concat(attr_in_v.diff(filters_id))
                    return retorna.length == 0;
                }
                const selected = this.variants.variants.filter(searchVariant);
                
                this.selectedVariant = selected.length ? selected[0] : '';
                this.price = selected.length ? selected[0].price_products_variants : this.details.price_products;
                if (Number(this.quantity) > Number(this.selectedVariant.quantity_products_variants)) {
                    this.quantity = this.selectedVariant.quantity_products_variants;
                }
            },
            currentSlide (n) {
                this.showSlides(n || 1)
            },
            plusSlides(n) {
                this.showSlides(this.slideIndex += n);
            },
            showSlides(n) {
                this.slideIndex = n;
                if (n > this.slides.length) {this.slideIndex = 1}
                if (n < 1) {this.slideIndex = this.slides.length}
                this.selectedSlide = this.slides[this.slideIndex-1];
            },
            setDetails(product) {
                this.slides = product.images.load;
                this.variants = product.variants.load;
                this.details = product.details.load[0];
                this.price = this.details.price_products;
                
                let attrValues = [];
                product.variants.load.variants.forEach(attrVal => {
                    attrVal.attrs.forEach(attr => {
                        attrValues.push(attr)
                    });
                });
                // console.log(attrValues)
                // Filtrar por 
                this.attributes_values = attrValues.reduce((x, y) => x.findIndex(e=>e.id_av==y.id_av)<0 ? [...x, y]: x, []);
                // console.log(JSON.stringify(this.attributes_values))
                this.showSlides(1);
            },
            addOrderItem() {
                let variantInCart = false;
                let newItem = this.selectedVariant;
                let quantity;
                newItem.quantity = this.quantity;
                this.price = newItem.price_products_variants
                // console.log(newItem);
                this.selectedVariant = {};
                this.selectedVariant = newItem;
                this.order.items.forEach(function (item) {
                    if(item.id_products_variants === newItem.id_products_variants) {
                        variantInCart = true;
                        quantity = parseInt(item.quantity) + parseInt(newItem.quantity);
                        item.quantity = quantity <= newItem.quantity_products_variants ? quantity : newItem.quantity_products_variants;
                    }
                })
                if (!variantInCart) { 
                    this.order.items.push(newItem); 
                }
                this.saveOrder();
                this.isAdded = true;
            },
            saveOrder() {
                const parsed = JSON.stringify(this.order.items);
                localStorage.setItem('items', parsed);
            },
            validateMaxQuantity() {
                this.quantity = Number(this.quantity).toFixed(0);
                if (this.quantity > Number(this.selectedVariant.quantity_products_variants)) {
                    this.quantity = this.selectedVariant.quantity_products_variants
                }
            },
            validateMinQuantity() {
                this.quantity = Number(this.quantity).toFixed(0);
                if (this.quantity == 0) {
                    this.quantity = 1
                }
            },
        },
        mounted() {
            const self = this;
            $.ajax({
                url:"./api.php?e=products&r=:id/all&id="+self.id_products,
                method: "GET",
                dataType: "json",
            })
            .done(function (result) {
                // console.log(JSON.parse(JSON.stringify(result)));
                self.setDetails(result);
            })
            .fail(function (error) {
                self.error = error.status + ' '+error.statusText;
            });
            document.addEventListener("keydown", (e) => {
                if (e.keyCode == 27) {
                    this.$router.push('/shop/');
                }
            });
            // Funcionalidad duplicada en shopping cart
            if (localStorage.getItem('items')) {
                try {
                    this.order.items = JSON.parse(localStorage.getItem('items'));
                } catch(e) {
                    localStorage.removeItem('items');
                }
            }
        },
        props: ['id_products'],
        directives: {
            mlens: {
                update: function (el, binding, vnode) {
                    if (vnode.context.times > 0){
                        // console.log("otra vez")
                        window.$("#mlenss").mlens('destroy');
                    }
                    else {
                        // console.log("primera vez")
                        vnode.context.times+=1;
                    }
                    const isTouch = (('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0))
                    if ( $( document ).width() >= 1000 && !isTouch ) {
                        window.$("#mlenss").mlens({
                            // gets image files
                            imgSrc: el.dataset.big, 
                            imgSrc2x: el.dataset.big2x,
                            // shape of the lens (circle/square)
                            lensShape: "square",
                            // size of the lens
                            lensSize: ["50%","50%"],
                            // size of the lens border (in px)
                            borderSize: 4,
                            // color of the lens border (#hex)
                            borderColor: "#fff",
                            // border radius (optional, only if the shape is square)
                            borderRadius: 0,
                            // imgOverlay: el.dataset.overlay,
                            // true if the overlay image has to adapt to the lens size (true/false)
                            // overlayAdapt: true,
                            // zoom level
                            zoomLevel: 2, 
                            // is responsive
                            responsive: true
                        });
                    }
                },
            },
        },
    };
</script>
<style lang="less">

    @import (reference) "../../../stylesheets/main.less";

    /* Codigo CSS del Modal */
    .fade-enter-active, .fade-leave-active { transition: opacity .5s;  }
    .fade-enter, .fade-leave-to { opacity: 0; }

    /* Codigo CSS del para el mensaje "Added!" */
    .slide-fade-enter-active { transition: all .3s ease; }
    .slide-fade-leave-active { transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); }
    .slide-fade-enter, 
    .slide-fade-leave-to { transform: translateX(10px); opacity: 0; }

    /* Codigo CSS del Slider */

    .mySlides { display: none; }
    img { vertical-align: middle; }
    .img-itemd { width: auto !important; max-width: 100% !important;}
    
    /* Slideshow container */
    .slideshow-container {
        margin: auto;
        max-width: 1000px;
        position: relative;
    }

    /* Next & previous buttons */
    .prev, .next {
        background-color:#bbb;
        border-radius: 0 3px 3px 0;
        color: white;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        margin-top: -22px;
        padding: 16px;
        position: absolute;
        top: 50%;
        transition: 0.6s ease;
        width: auto;
    }

    /* Position the "next button" to the right */
    .next {
        border-radius: 3px 0 0 3px;
        right: 0;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover { background-color: rgba(0,0,0,0.8) !important; }

    /* Caption text */
    .text {
        bottom: 8px;
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        background-color: #bbb;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 15px;
        margin: 0 2px;
        transition: background-color 0.6s ease;
        width: 15px;
    }

    .active-dot, .dot:hover { background-color: #717171; }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text { font-size: 11px; }
    }
    
    .product-name{ padding-right: 12%; }
</style>