<template>
    <div>
        <vPasswordChange v-if="showPasswordChange" @close="showPasswordChange = !showPasswordChange"></vPasswordChange>
        <nav class="nav-admin">
            <div class="logo">
                <router-link to="/" tag="a">Deeper</router-link>
            </div>
            <div class="central-buttons">
                <router-link tag="a" to="/subscribers">Newsletters</router-link>
                <router-link tag="a" to="/">Orders</router-link>
                <router-link tag="a" to="/products">Products</router-link>
            </div>
            <div class="button" v-on:click="openNav()"><i class="fas fa-bars fs-15"></i></div>
        </nav>
        <div id="menuAdmin" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" v-on:click="closeNav()">&times;</a>
            <router-link tag="a" to="/subscribers" class="central-buttons">Newsletters</router-link>
            <router-link tag="a" to="/" class="central-buttons">Orders</router-link>
            <router-link tag="a" to="/products" class="central-buttons">Products</router-link>
            <a class="cursor" @click="showPasswordChange = !showPasswordChange">Change password</a>
            <a class="cursor" @click.prevent="logout">Log out</a>
        </div>
    </div>
</template>
<script>
import vPasswordChange from '../components/password-change.vue';
export default {
    name: 'navigation',
    data () {
        return {
            showPasswordChange: false,                    
        }
    },
    components: {
      vPasswordChange,  
    },
    methods: {
        openNav: function () {
            document.getElementById("menuAdmin").style.width = "290px";
        },

        closeNav: function () {
            document.getElementById("menuAdmin").style.width = "0";
        },
        logout () {
            const self = this;
            $.ajax({
                url:"../api.php?e=logout&r=/",
                method: "GET",
                dataType: "json",
            })
            .done(function (result) {
                self.$router.push('/login')
            })
            .fail(function (error) {
            });
        },
    }    
}
</script>

<style lang="less">
    @import (reference) "../../../stylesheets/main.less";

    nav.nav-admin {
        align-items: center;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 0 1rem;
        width: 100%;

        & a { 
            cursor: pointer; 
            text-decoration: none;
            

            &:hover { color: @primary; font-weight: 700; } 
        }

        & div.logo {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            position: relative;
            
            @media (max-width: 399px) { left: 23px; transform: scaleX(1.3); }
            @media (min-width: 400px) and (max-width: 767px) { left: 38px; transform: scaleX(1.4); }
            @media (min-width: 768px) { left: 58px; transform: scaleX(1.4); }

            a {
                color: @primary;
                cursor: pointer;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;

                @media (max-width: 399px) { font-size: 1.5rem; letter-spacing: 7px; } 
                @media (min-width: 400px) and (max-width: 767px) { font-size: 2rem; letter-spacing: 4px; }
                @media (min-width: 768px) and (max-width: 991px) { font-size: 2.5rem; letter-spacing: 5px; }
                @media (min-width: 992px) { font-size: 2.8rem; letter-spacing: 5px; }
            }
        }

        .central-buttons {
            a.router-link-exact-active{ font-weight: 700; }

            @media (max-width: 991px) { display: none; }
            @media (min-width: 992px) { & a { padding: 0 1rem; } }
        }
    }

    .sidenav {
        background-color: rgba(252, 252, 252,0.9);
        height: 100%;
        overflow-x: hidden;
        padding-top: 60px;
        position: fixed;
        right: 0;
        top: 0;
        transition: 0.5s;
        width: 0;
        z-index: 1;

        @media (max-height: 450px) { padding-top: 15px; }

        .cursor { cursor: pointer; }

        & a {
            color: rgba(0, 0, 0, 0.6);
            display: block;
            font-size: 25px;
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            transition: 0.3s;

            @media (max-height: 450px) { font-size: 18px; }
            &:hover { color: @primary; font-weight: 700; }
            
            &.central-buttons {
                @media (min-width: 992px) { display: none; }
            }
        }

        & .closebtn {
            font-size: 36px;
            margin-left: 50px;
            position: absolute;
            right: 25px;
            top: 0;
        }
    }
</style>