<template>
    <div>
        <!-- Navigation -->
        <nav class="nav-site">
            <div>
                <router-link tag="span" to="/" class="main-text logo notranslate">Deeper</router-link>
            </div>
            <div>
                <!-- Shopping cart button -->
                <button @click="showShoppingCart = !showShoppingCart">
                    <i class="fas fa-shopping-cart"></i>
                </button>

                <!-- Menu button -->
                <div class="button" @click="openNav()">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
        <!-- Menú de barra lateral derecha -->
        <div id="menuTienda" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
            <router-link tag="a" to="/">Home</router-link>
            <router-link tag="a" to="/shop">Shop</router-link>
            <router-link tag="a" to="/contact-us">Contact us</router-link>
            <p>Social Media</p>
            <a href="https://www.facebook.com/DeeperMiami" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/deeper_clothing" target="_blank">Instagram</a>
        </div>

        <!-- Componente del carrito de compra -->
        <vShoppinCart v-if="showShoppingCart" @close="showShoppingCart = !showShoppingCart"></vShoppinCart>
    </div>
</template>
<script>
import vShoppinCart from "../components/shopping-cart.vue";
export default {
    name: 'navigation',
    data () {
        return {
            showShoppingCart: false,
        }
    },
    components: {
            vShoppinCart,
        },
    methods: {
        openNav: function () {
            document.getElementById("menuTienda").style.width = "300px";
        },
        
        closeNav: function () {
            document.getElementById("menuTienda").style.width = "0";
        }
    }    
}
</script>
<style lang="less">
    @import (reference) "../../../stylesheets/main.less";
    nav.nav-site {
        align-items: center;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        height: 80px;
        position: relative;
        width: 100%;

        // 767.98px and down
        @media (max-width: 767.98px) {
            justify-content: space-between;

            & > div:first-child { 
                padding: 1rem; 
                position: relative; 
                transform: scaleX(1.3); 

                @media (max-width: 399px) { left: 26px; }
                @media (min-width: 400px) and (max-width: 599px) { left: 44px; transform: scaleX(1.4); }
                @media (min-width: 600px) and (max-width: 767px) { left: 55px; transform: scaleX(1.5); }
            }
        }
         // 768px and up)
        @media (min-width: 768px) {
            justify-content: flex-end;

            & div { padding: 1rem; }

            & > div:first-child {
                position: relative;
                transform: scaleX(1.8);

                @media (min-width: 768px) and (max-width: 991px) { right: calc((50% - (488px / 4)) - 116px); }
                @media (min-width: 992px) { right: calc((50% - (547px / 4)) - 116px); }
            }

            #logo { max-width: 400px; }
        }

        & > div:last-child {
            display: flex;
            justify-content: space-between;
            padding: 1rem;

            & > div { padding: 0.5rem; }
        }
    }

    .sidenav {
        background-color: rgba(252, 252, 252,0.9);
        height: 100%;
        overflow-x: hidden;
        padding-top: 60px;
        position: fixed;
        right: 0;
        top: 0;
        width: 0;
        z-index: 1;

        /* Propiedades para la animación de transition */
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; 

        @media (max-height: 450px) { padding-top: 15px; }

        & a {
            color: rgba(0, 0, 0, 0.87);
            display: block;
            font-size: 25px;
            padding: 8px 8px 8px 32px;
            text-decoration: none;

            /* Propiedades para la animación de transition */
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; 
            transition: 0.3s;

            @media (max-height: 450px) { font-size: 18px; }

            &:hover { color: @primary !important; }
        }

        & p {
            color: rgba(0, 0, 0, 0.87);
            cursor: default;
            display: block;
            font-size: 25px;
            margin-top: 1rem;
            padding: 8px 8px 8px 32px;
            text-decoration: none;            
        }

        .closebtn {
            font-size: 36px;
            margin-left: 50px;
            position: absolute;
            right: 25px;
            top: 0;
        }
    }
</style>

