<template>
    <transition name="fade">
        <div class="modal-background" v-on:click="$emit('close')">
            <div class="modal-container" @click.stop>
                <div class="main-article">
                    <button class="btn-close" v-on:click="$emit('close')"><i class="fas fa-times"></i></button>
                    <header>
                        Password Change
                    </header>
                    <form class="password-form" method="POST" v-on:submit.prevent="changePassword">
                        <div class="password-inputs">
                            <div class="d-input form-control">
                                <label for="current" v-bind:class="[password.current.length ? activeClass : '' ]">Current password</label>
                                <input type="password" name="current" id="current" v-model="password.current" v-bind:class="[password.current.length ? activeClass : '' ]" required>
                            </div>
                            <div class="d-input form-control">
                                <label for="new" v-bind:class="[password.new.length ? activeClass : '' ]">New password</label>
                                <input type="password" name="new" id="new" v-model="password.new" v-bind:class="[password.new.length ? activeClass : '' ]" required>
                            </div>
                            <div class="d-input form-control">
                                <label for="confirmation" v-bind:class="[password.confirmation.length ? activeClass : '' ]">Confirm password</label>
                                <input type="password" name="confirmation" id="confirmation" v-model="password.confirmation" v-bind:class="[password.confirmation.length ? activeClass : '' ]" required>
                            </div>
                        </div>
                        <div v-if="error" class="alert error">
                            <span v-if="error">{{ error }}</span>
                        </div>
                        <div v-if="response" class="alert success">
                            <span v-if="response">{{ response }}</span>
                        </div>
                        <button type="submit" class="btn bg-primary">Change password</button>         
                    </form>                        
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
export default {
    name: 'passwordChange',
    data() {
        return {
            activeClass: 'filled-input',
            password: {
                current: '',
                new: '',
                confirmation: '',
            },
            error: '',
            response: '',
        }
    },
    methods: {
        changePassword () {
            console.log (this.password.confirmation != this.password.new)
            console.log (this.password.confirmation, this.password.new)
            if (this.password.confirmation != this.password.new) {
                this.error = 'New password and confirmation must be the same.';
                setTimeout(() => {
                    this.error = '';
                }, 5000);
                return;
            }
            if (this.password.new == '') {
                this.error = 'New password can not be empty.';
                setTimeout(() => {
                    this.error = '';
                }, 5000);
                return;
            }
            const self = this;
            $.ajax({
                url:"../api.php?e=subscribers&r=/changePassword",
                method: "POST",
                dataType: "json",
                data: {password: self.password},
            })
            .done(function (res) {
                if (res.error) {
                    self.error = 'An error occurred: '+' '+res.error+' Try again.';
                    console.log(res.error);
                    self.response = '';
                } else {
                    self.response = 'Password successfully changed.';
                    self.error = '';
                    self.password.current = '';
                    self.password.new = '';
                    self.password.confirmation = '';
                }
            })
            .fail(function (error) {
                self.response = '';
                self.error = 'An error occurred. Try again.';
            });
        },
    }
}
</script>
<style lang="less">
    /*-------------------------------------------
        Codigo CSS del transition para el modal
    -------------------------------------------*/
    .fade-enter-active, .fade-leave-active { transition: opacity .5s; }
    .fade-enter, .fade-leave-to { opacity: 0; }

    /*-----------------------------
        Codigo CSS del formulario
    -----------------------------*/
    .password-form {
        .password-inputs {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-bottom: 1rem;
        }
        .btn.bg-primary {
            display: flex;
            margin: 1rem auto 0;
        }
    }
</style>