<template>
    <router-link tag="div" to="/shop" class="shop-button">
        <div class="text-container">
            <i class="fas fa-shopping-cart"></i>
            <p>Shop</p>
        </div>
    </router-link>
</template>
<style lang="less">
    @import (reference) "../../../stylesheets/main.less";
    /*------------------------------------------------*
        Definiendo variables para el color del fondo
    *------------------------------------------------*/
    @bg-primario: @primary;
    @bg-secundario: #fff;

    /*------------------------------------------------*
        Definiendo variables para el color del borde
    *------------------------------------------------*/
    @bdr-primario: #fff;
    @bdr-secundario: @primary;

    /*--------------------------------------------------*
        Definiendo variables para el color de la fuente
    *--------------------------------------------------*/
    @font-primario: #fff;
    @font-secundario: @primary;

    /*---------------------------------------
        Propiedades -webkit- para animación
    ---------------------------------------*/
    .webkit-animationShopButton() {
        -webkit-animation-duration: 7s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-delay: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
    }

    /*---------------------------------------
        Propiedades -moz- para animación
    ---------------------------------------*/
    .moz-animationShopButton() {
        -moz-animation-duration: 7s;
        -moz-animation-timing-function: ease;
        -moz-animation-delay: 5s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: alternate;
    }

    /*---------------------------------------
        Propiedades -o- para animación
    ---------------------------------------*/
    .o-animationShopButton() {
        -o-animation-duration: 7s;
        -o-animation-timing-function: ease;
        -o-animation-delay: 5s;
        -o-animation-iteration-count: infinite;
        -o-animation-direction: alternate;  
    }

    /*---------------------------
        Valores de la animación
    ---------------------------*/
    .animationShopButton() {
        animation-duration: 7s;
        animation-timing-function: ease;
        animation-delay: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    /*---------------------------------------------
        @Keyframe de la animación del storeButton
    ---------------------------------------------*/
    @-webkit-keyframes storeButton {
        0% { background-color: transparent; border-color: @bdr-primario; transform: rotate(0deg); }
        5% { transform: rotate(0deg); }
        25% { transform: scale(0.5,0.5); }
        40% { transform: rotate(180deg) scale(1.2,1.2); }
        50% { background-color: @bg-secundario; border-color: @bdr-secundario; }
        70% { transform: rotate(180deg) scale(1.2,1.2); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(360deg) scale(1.1,1.1); }
        100% { background-color: @bg-primario; transform: rotate(360deg) scale(1.1,1.1); }        
    }
    @-moz-keyframes storeButton {
        0% { background-color: transparent; border-color: @bdr-primario; transform: rotate(0deg); }
        5% { transform: rotate(0deg); }
        25% { transform: scale(0.5,0.5); }
        40% { transform: rotate(180deg) scale(1.2,1.2); }
        50% { background-color: @bg-secundario; border-color: @bdr-secundario; }
        70% { transform: rotate(180deg) scale(1.2,1.2); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(360deg) scale(1.1,1.1); }
        100% { background-color: @bg-primario; transform: rotate(360deg) scale(1.1,1.1); }        
    }
    @-o-keyframes storeButton {
        0% { background-color: transparent; border-color: @bdr-primario; transform: rotate(0deg); }
        5% { transform: rotate(0deg); }
        25% { transform: scale(0.5,0.5); }
        40% { transform: rotate(180deg) scale(1.2,1.2); }
        50% { background-color: @bg-secundario; border-color: @bdr-secundario; }
        70% { transform: rotate(180deg) scale(1.2,1.2); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(360deg) scale(1.1,1.1); }
        100% { background-color: @bg-primario; transform: rotate(360deg) scale(1.1,1.1); }        
    }
    @keyframes storeButton {
        0% { background-color: transparent; border-color: @bdr-primario; transform: rotate(0deg); }
        5% { transform: rotate(0deg); }
        25% { transform: scale(0.5,0.5); }
        40% { transform: rotate(180deg) scale(1.2,1.2); }
        50% { background-color: @bg-secundario; border-color: @bdr-secundario; }
        70% { transform: rotate(180deg) scale(1.2,1.2); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(360deg) scale(1.1,1.1); }
        100% { background-color: @bg-primario; transform: rotate(360deg) scale(1.1,1.1); }        
    }

    /*-------------------------------------------
        @Keyframe de la animación del contenido
    -------------------------------------------*/
    @-webkit-keyframes contentButton {
        0% { color: @font-primario; transform: rotate(360deg); }
        5% { transform: rotate(360deg); }
        25% { transform: scale(0.5,0.5); }
        45% { transform: rotate(-180deg) scale(1.1,1.1); }
        50% { color: @font-secundario; } 
        65% { transform: rotate(-180deg) scale(1.1,1.1); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(0deg); }
        100% { transform: rotate(0deg); }
    }
    @-moz-keyframes contentButton {
        0% { color: @font-primario; transform: rotate(360deg); }
        5% { transform: rotate(360deg); }
        25% { transform: scale(0.5,0.5); }
        45% { transform: rotate(-180deg) scale(1.1,1.1); }
        50% { color: @font-secundario; } 
        65% { transform: rotate(-180deg) scale(1.1,1.1); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(0deg); }
        100% { transform: rotate(0deg); }
    }
    @-o-keyframes contentButton {
        0% { color: @font-primario; transform: rotate(360deg); }
        5% { transform: rotate(360deg); }
        25% { transform: scale(0.5,0.5); }
        45% { transform: rotate(-180deg) scale(1.1,1.1); }
        50% { color: @font-secundario; } 
        65% { transform: rotate(-180deg) scale(1.1,1.1); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(0deg); }
        100% { transform: rotate(0deg); }
    }
    @keyframes contentButton {
        0% { color: @font-primario; transform: rotate(360deg); }
        5% { transform: rotate(360deg); }
        25% { transform: scale(0.5,0.5); }
        45% { transform: rotate(-180deg) scale(1.1,1.1); }
        50% { color: @font-secundario; } 
        65% { transform: rotate(-180deg) scale(1.1,1.1); }
        75% { transform: scale(0.5,0.5); }
        95% { transform: rotate(0deg); }
        100% { transform: rotate(0deg); }
    }

    .shop-button {
        background-color: @bg-primario;
        border: 2px solid @bdr-primario;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: 80px;    
        justify-content: center;
        padding: 0;
        position: fixed;
        right: 10px;
        text-align: center;
        top: calc(70% - 40px);
        width: 80px;
        z-index: 1;

        /*------------------------------------------------
            Propiedades de compatibilidad para animación
        ------------------------------------------------*/
        -webkit-animation-name: storeButton;
        .webkit-animationShopButton();
        -moz-animation-name: storeButton;
        .moz-animationShopButton();
        -o-animation-name: storeButton;
        .o-animationShopButton();
        animation-name: storeButton;
        .animationShopButton();

        .text-container {
            align-self: center;
            
            i { font-size: 30px; }
            
            i,
            p { 
                color: @font-primario; 

                /*------------------------------------------------
                    Propiedades de compatibilidad para animación
                ------------------------------------------------*/
                -webkit-animation-name: contentButton;
                .webkit-animationShopButton();
                -moz-animation-name: contentButton;
                .moz-animationShopButton();
                -o-animation-name: contentButton;
                .o-animationShopButton();
                animation-name: contentButton;
                .animationShopButton();
            }
        }
    }
</style>
