<template>
    <transition name="fade">
        <div class="modal-background" v-on:click="$emit('close')">
            <div class="modal-container guide" @click.stop>
                <div class="main-article guide">
                    <button class="btn-close" v-on:click="$emit('close')"><i class="fas fa-times"></i></button>
                    <img src="../../../multimedia/size-guide.jpg" alt="Size guide photo" class="guide-img">
                    <button class="btn-red" v-on:click="$emit('close')"><i class="fas fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
    export default {
        name: 'size-guide',
        data () {
            return {

            }
        },
    }
</script>

<style lang="less">
    .modal-background {
        z-index: 102 !important;

        .modal-container.guide {
            z-index: 103 !important;

            .main-article.guide {
                padding-right: 0;

                @media (max-width: 575.98px) { max-height: 96vh; }
                @media (min-width: 576px) { max-height: 92vh; }
                @media (min-width: 992px) { max-height:80vh; }
                
                .btn-close {
                    @media (max-width: 399px) { right: 8px; top: 0px; }
                    @media (min-width: 400px) and (max-width: 499px) { right: 8px; top: 4px; }
                    @media (min-width: 500px) and (max-width: 599px) { right: 14px; top: 9px; }
                    @media (min-width: 600px) and (max-width: 699px) { right: 18px; top: 16px; }
                }

                img.guide-img {
                    display: flex;
                    height: auto;
                    margin: 0 auto;
                    max-width: 700px;
                    width: 100%;
                }

                button.btn-red {
                    margin: 0rem auto 2rem auto;

                    & .fas { line-height: 1.5; margin-right: .5rem; }
                }
            }
        }
    }
</style>