<template>
    <transition name="fade">
        <div class="modal-background" v-on:click="$emit('close')">
            <div class="modal-container" @click.stop>
                <div class="main-article">
                    <button class="btn-close" v-on:click="$emit('close')"><i class="fas fa-times"></i></button>
                    <div class="icon-container">
                        <div class="success-bg"></div>
                        <div class="success-loading"></div>
                        <div class="checked"></div>
                    </div>
                    <header>
                        Congratulations!
                    </header>
                    <p class="mensaje">
                        Your payment has been successfully completed.
                    </p>
                    <button class="btn-red" v-on:click="$emit('close')">Ok</button>
                </div>
            </div>
        </div>
    </transition>    
</template>
<script>
    export default {
        name: 'successMessage',
        data() {
            return {
            }
        },
    }
</script>
<style lang="less">
    /*-------------------------------------------
        Codigo CSS del transition para el modal
    -------------------------------------------*/
    .fade-enter-active, .fade-leave-active { transition: opacity .5s; }
    .fade-enter, .fade-leave-to { opacity: 0; }

    .modal-background {
        z-index: 102;

        .modal-container { z-index: 103; }
    }

    /*-----------------------
        Duration animations
    -----------------------*/
    @loadingDuration: .4s;
    @checkingDuration: .1s;

    /*--------------------
        Delay animations
    --------------------*/
    @loadingDelay: .8s;
    @checkingDelay: @loadingDelay + @loadingDuration;

    /*---------------------------------------
        Propiedades -webkit- para animación
    ---------------------------------------*/
    .webkit-animationLoading() {
        -webkit-animation-name: loading;
        -webkit-animation-duration: @loadingDuration;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: @loadingDelay;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: normal;
    }

    /*---------------------------------------
        Propiedades -moz- para animación
    ---------------------------------------*/
    .moz-animationLoading() {
        -moz-animation-name: loading;
        -moz-animation-duration: @loadingDuration;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: @loadingDelay;
        -moz-animation-iteration-count: 1;
        -moz-animation-direction: normal;
    }

    /*---------------------------------------
        Propiedades -o- para animación
    ---------------------------------------*/
    .o-animationLoading() {
        -o-animation-name: loading;
        -o-animation-duration: @loadingDuration;
        -o-animation-timing-function: linear;
        -o-animation-delay: @loadingDelay;
        -o-animation-iteration-count: 1;
        -o-animation-direction: normal;
    }

    /*---------------------------
        Valores de la animación 
                LOADING
    ---------------------------*/
    .animationLoading() {
        animation-name: loading;
        animation-duration: @loadingDuration;
        animation-timing-function: linear;
        animation-delay: @loadingDelay;
        animation-iteration-count: 1;
        animation-direction: normal;
    }

    /*---------------------------------------
        Propiedades -webkit- para animación
    ---------------------------------------*/
    .webkit-animationChecking() {
        -webkit-animation-name: checking;
        -webkit-animation-duration: @checkingDuration;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: @checkingDelay;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: normal; 
        -webkit-animation-fill-mode: forwards;
    }

    /*---------------------------------------
        Propiedades -moz- para animación
    ---------------------------------------*/
    .moz-animationChecking() {
        -moz-animation-name: checking;
        -moz-animation-duration: @checkingDuration;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: @checkingDelay;
        -moz-animation-iteration-count: 1;
        -moz-animation-direction: normal; 
        -moz-animation-fill-mode: forwards;
    }

    /*---------------------------------------
        Propiedades -o- para animación
    ---------------------------------------*/
    .o-animationChecking() {
        -o-animation-name: checking;
        -o-animation-duration: @checkingDuration;
        -o-animation-timing-function: linear;
        -o-animation-delay: @checkingDelay;
        -o-animation-iteration-count: 1;
        -o-animation-direction: normal; 
        -o-animation-fill-mode: forwards;
    }

    /*---------------------------
        Valores de la animación 
                CHECKING
    ---------------------------*/
    .animationChecking() {
        animation-name: checking;
        animation-duration: @checkingDuration;
        animation-timing-function: linear;
        animation-delay: @checkingDelay;
        animation-iteration-count: 1;
        animation-direction: normal; 
        animation-fill-mode: forwards;
    }

    /*-------------------------
        @Keyframes de LOADING
    -------------------------*/
    @-webkit-keyframes loading {
        0% { visibility: visible; }
        25% { transform: rotate(-90deg); }
        50% { transform: rotate(-180deg); }
        75% { transform: rotate(-270deg); }
        100% { visibility: hidden; transform: rotate(-360deg); }
    }
    @-moz-keyframes loading {
        0% { visibility: visible; }
        25% { transform: rotate(-90deg); }
        50% { transform: rotate(-180deg); }
        75% { transform: rotate(-270deg); }
        100% { visibility: hidden; transform: rotate(-360deg); }
    }
    @-o-keyframes loading {
        0% { visibility: visible; }
        25% { transform: rotate(-90deg); }
        50% { transform: rotate(-180deg); }
        75% { transform: rotate(-270deg); }
        100% { visibility: hidden; transform: rotate(-360deg); }
    }
    @keyframes loading {
        0% { visibility: visible; }
        25% { transform: rotate(-90deg); }
        50% { transform: rotate(-180deg); }
        75% { transform: rotate(-270deg); }
        100% { visibility: hidden; transform: rotate(-360deg); }
    }

    /*--------------------------
        @Keyframes de CHECKING
    --------------------------*/
    @-webkit-keyframes checking {
        from { visibility: visible; }
        to { visibility: visible; top: -166px; transform: rotate(-50deg); }
    }
    @-moz-keyframes checking {
        from { visibility: visible; }
        to { visibility: visible; top: -166px; transform: rotate(-50deg); }
    }
    @-o-keyframes checking {
        from { visibility: visible; }
        to { visibility: visible; top: -166px; transform: rotate(-50deg); }
    }
    @keyframes checking {
        from { visibility: visible; }
        to { visibility: visible; top: -166px; transform: rotate(-50deg); }
    }

    /*----------------------------
        Código del modal success
    ----------------------------*/
    .icon-container {
        height: 108px;
        margin-bottom: 1rem;
        
        .success-bg { 
            border: 4px solid #c8f0c8;
            border-radius: 100%;
            height: 100px;
            left: calc(50% - 54px);
            position: relative;
            width: 100px;
        }

        .success-loading {
            border: 4px solid;
            border-radius: 100%;
            border-bottom-color: transparent;
            border-left: 4px solid #1ca51c;
            border-top-color: transparent;
            border-right-color: transparent;
            height: 100px;
            left: calc(50% - 54px);
            position: relative;
            top: -100px;
            visibility: hidden;            
            width: 100px;

            /* Animación */
            .webkit-animationLoading();
            .moz-animationLoading();
            .o-animationLoading();
            .animationLoading();
        }

        .checked {
            border: 4px solid;
            border-bottom-color: #1ca51c;
            border-left: 4px solid #1ca51c;
            border-top-color: transparent;
            border-right-color: transparent;
            height: 20px;
            left: calc(50% - 26px);
            position: relative;
            top: -150px;
            visibility: hidden;
            width: 48px;

            /* Animación */ 
            .webkit-animationChecking();
            .moz-animationChecking();
            .o-animationChecking();
            .animationChecking();
        }
    }

    p.mensaje { text-align: center; }
    button.btn-red { display:flex; margin: 1rem auto; }
</style>


