<template>
    <!-- Suscripciones -->
    <section class="suscriptors">
        <p class="form-title">Subscribe to our newsletter</p>
        <form v-on:submit.prevent="subscribe" class="suscriptors">
            <div v-if="error" class="alert error">
                <span v-if="error" >{{error}}</span>
            </div>
            <div v-if="response" class="alert success">
                <span v-if="response">{{response}}</span>
            </div>
            <div class="data">
                <div class="form-control">
                    <label for="name" v-bind:class="[subscriber.name.length ? activeClass : '' ]">Full name</label>
                    <input type="text" name="name" v-model="subscriber.name" v-bind:class="[subscriber.name.length ? activeClass : '' , 'capitalize']">
                </div>
                <div class="form-control">
                    <label for="email" v-bind:class="[subscriber.email.length ? activeClass : '' ]">E-mail <span>*</span></label>
                    <input type="email" name="email" v-model="subscriber.email" v-bind:class="[subscriber.email.length ? activeClass : '' , 'lowercase']" required>
                </div>
                <button type="submit" class="btn-red">SUBSCRIBE</button>
            </div>
        </form>
    </section>
</template>
<script>
    export default {
        name:'vSuscription',
        data () {
            return {
                activeClass: 'filled-input',
                subscriber: {
                    name: '',
                    email: '',
                },
                error: '',
                response: '',
            }
        },
        methods:{
            subscribe () {
                const self = this;
                $.ajax({
                    method: 'POST',
                    url: './api.php?e=subscribers&r=/',
                    data: {subscriber: self.subscriber,
                    dataType: 'json'
                    },
                    success: function (res) {
                        res = JSON.parse(res)
                        if (res.error) {
                            self.error = res.error;
                            self.response = "";
                            
                        } else {
                            self.response = "Añadido con éxito";
                            self.error = "";
                        }
                    },
                    error: function (res) {
                        self.error = res;
                    }
                })
            }
        }
    }
</script>

<style lang="less">
    @import (reference) "../../../stylesheets/main.less";
    section.suscriptors {
        border-radius: 10px;
        box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        margin: 3.5rem auto 2rem;
        padding: 1rem 2rem;
        width: 80%;

        .form-title {
            color: @primary;
            font-size: 1.15rem;
            font-weight: 700;
            padding: 0.5rem;
            text-align: center;
        }

        form.suscriptors {
            @media (min-width: 768px) and (max-width: 991.98px) {
                div.data {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    & > .form-control { width: 45%; }
                }
            }

            @media (min-width: 992px) {
                div.data {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;

                    & > .form-control { width: 40%; }
                }
            }

            & button.btn-red { margin: 1.5rem auto; }
        }
    }
</style>
